<h1> Guests </h1>
<body>
<ul id='guests'>
  <% @guests.each do |guest| %>
    <li>
      DB ID: <%= guest.id %>
      Name: <%= guest.name %>
      Attending:   <%=guest.attending%>
      Partners/Kids: <%=guest.others%>
      Requests: <%=guest.requests%>
    </li>
  <% end %>
</ul>

<form action="/secret" method="post">
  ***** DELETE AN ENTRY *****
  Guest Database table ID:
  <input type="text" name="id">

  <br>
  <input type="submit" value="Submit">
</form>
</body>
