<h1> Guests </h1>

<ul id='guests'>
  <% @guests.each do |guest| %>
    <li>
      DB ID: <%= guest.id %>
      Name: <%= guest.name %>
      Attending:   <%=guest.attending%>
      Partners/Kids: <%=guest.others%>
      Requests: <%=guest.requests%>
    </li>
  <% end %>
</ul>
