<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <br>
  <br>
  <br>
<h1 class="guests"> Guests </h1>
<ul class='guests'>
  <% @guests.each do |guest| %>
    <li>
      DB ID: <%= guest.id %>
      <br>
      Name: <%= guest.name %>
      <br>
      Attending Wedding: <%=guest.attending%>
      <br>
      Guest 1 Meal: <%=guest.guest1_menu%>
      <br>
      Partners Name: <%=guest.partner_name%>
      <br>
      Partners Meal: <%=guest.partner_menu%>
      <br>
      Child 1's Name: <%=guest.child_1_name%>
      <br>
      Child 1's Meal: <%=guest.child_1_menu%>
      <br>
      Child 2's Name: <%=guest.child_2_name%>
      <br>
      Child 2's Meal: <%=guest.child_2_menu%>
      <br>
      Attending BBQ: <%=guest.bbq%>
      <br>
      Requests: <%=guest.additional%>
    </li>
    <hr>
  <% end %>
</ul>

<form action="/secret" method="post">
  ***** DELETE AN ENTRY *****
  Guest Database table ID:
  <input type="text" name="id">

  <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
